<a href="https://colab.research.google.com/github/sakunisgithub/python_programming/blob/master/python_general/00071_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

Create a list of squares of numbers from 1 to 10.

In [1]:
my_list = [x**2 for x in range(1, 11)]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Question 2

Create a list of even numbers from 0 to 20.

In [2]:
my_list = [x for x in range(21) if x % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 3

Convert a list of strings to uppercase.

In [3]:
my_list = [word.upper() for word in ['shweta', 'kuttus', 'ananda']]
print(my_list)

['SHWETA', 'KUTTUS', 'ANANDA']

# Question 4

Create a list of numbers divisible by 3 between 1 to 50.

In [4]:
my_list = [x for x in range(1, 51) if x % 3 == 0]
print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# Question 5

Create a list of the first letters of each word in a list.

In [5]:
my_list = [x[0] for x in ['shweta', 'kuttus', 'ananda']]
print(my_list)

['s', 'k', 'a']

# Question 6

Create a list of tuples (number, square) for numbers 1 to 10.

In [6]:
my_list = [(x, x**2) for x in range(1, 11)]
print(my_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

# Question 7