<a href="https://colab.research.google.com/github/sakunisgithub/python_programming/blob/master/python_general/00071_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

Create a list of squares of numbers from 1 to 10.

In [ ]:
my_list = [x**2 for x in range(1, 11)]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Question 2

Create a list of even numbers from 0 to 20.

In [ ]:
my_list = [x for x in range(21) if x % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 3

Convert a list of strings to uppercase.

In [ ]:
my_list = [word.upper() for word in ['shweta', 'kuttus', 'ananda']]
print(my_list)

['SHWETA', 'KUTTUS', 'ANANDA']

# Question 4

Create a list of numbers divisible by 3 between 1 to 50.

In [ ]:
my_list = [x for x in range(1, 51) if x % 3 == 0]
print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# Question 5

Create a list of the first letters of each word in a list.

In [ ]:
my_list = [x[0] for x in ['shweta', 'kuttus', 'ananda']]
print(my_list)

['s', 'k', 'a']

# Question 6

Create a list of tuples (number, square) for numbers 1 to 10.

In [ ]:
my_list = [(x, x**2) for x in range(1, 11)]
print(my_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

# Question 7

Flatten a 2D list [[1,2],[3,4],[5,6]] into [1,2,3,4,5,6].

In [8]:
my_list = [num for sublist in [[1,2],[3,4],[5,6]] for num in sublist]
print(my_list)

[1, 2, 3, 4, 5, 6]

# Question 8

Create a list of all characters in a string.

In [9]:
my_list = [x for x in 'ananda']
print(my_list)

['a', 'n', 'a', 'n', 'd', 'a']

# Question 9

Filter out vowels from a string.

In [12]:
vowels = [x for x in 'shweta' if x not in ['a', 'e', 'i', 'o', 'u']]
print(vowels)

['s', 'h', 'w', 't']

# Question 10

Convert a list of integers to strings.

In [14]:
my_list = [str(x) for x in range(10)]
print(my_list)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

# Question 11

Get squares of numbers from 1 to 20 but only if square is greater than 50.

In [15]:
my_list = [x**2 for x in range(1, 21) if x**2 > 50]
print(my_list)

[64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 12

Replace all negative numbers in a list with 0.

In [16]:
my_list = [max(x, 0) for x in range(-10, 11)]
print(my_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
my_list = [x if x > 0 else 0 for x in range(-10, 11)]
print(my_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]